@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>

    <h2><span class="label alert-info "> About us Page </span></h2>
    <br />
    <div class="well well-sm">
        <div>
            <p>
                Welcome to my website .<br />
            </p>
        </div>
        <br />
        <div>
            <p>

            </p>

        </div>
    </div>

    <br />
   

 
</fieldset>
