@{
    ViewBag.Title = "Home";
}



<!-- Content -->
<div id="content">
    <!-- Content Slider -->
    <div id="" class="sliderBox " style="position:relative;"  >
    
    </div>
    <!-- End Content Slider -->
    <!-- Products -->
    @Html.Partial("Products_Content")
    <!-- End Products -->
    <!-- Content Slider -->
  


</div>
